.jumbotron {
	background-color: yellow;
	color: black;
	margin-top: 50px;
}

.card-dep {
	flex: 1 200px;
	padding: 2px 5px 2px 5px;
	margin-top: 10px;
	}

.footer {
	padding: 10px 10px 0  10px; 
	margin-bottom: 0px;
	margin-top: 10px;
	background-color: yellow;
}

.btn-reverse{
	width: 100%;
	background-color: #C6D251 ;
	color: black;
}

.icono-footer{
	padding-right: 10px;
}

.btn-saquelo{
	background-color: #C051D2;
	color: black;

}


