.jumbotron {
  background-color: #ECE542;
  color: black;
  margin-top: 50px;
  margin-botton: 0px;
}
.card-dep {
  flex: 1 200px;
  padding: 2px 5px 2px 5px;
  margin-top: 10px;
  margin-botton: 0px;
}
.footer {
  padding: 10px 10px 0  10px;
  margin-top: 10px;
  margin-botton: 0px;
  background-color: #ECE542;
}
.btn-reverse {
  width: 100%;
  background-color: #C6D251;
  color: black;
}
.icono-footer {
  padding-right: 10px;
}
.btn-saquelo {
  background-color: #C051D2;
  color: black;
}
