@yellow: #ECE542;

.margenes(@top: 0px, @botton: 0px){
	margin-top: @top;
	margin-botton: @botton;
}




.jumbotron {
	background-color: @yellow;
	color: black;
	.margenes(50px, 0px);
}

.card-dep {
	flex: 1 200px;
	padding: 2px 5px 2px 5px;
	.margenes(10px, 0px);
	}

.footer {
	padding: 10px 10px 0  10px; 
	.margenes(10px, 0px);
	background-color: @yellow;
}

.btn-reverse{
	width: 100%;
	background-color: #C6D251 ;
	color: black;
}

.icono-footer{
	padding-right: 10px;
}

.btn-saquelo{
	background-color: #C051D2;
	color: black;

}